<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChampionshipWorldSkills.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <ChampionshipWorldSkills.Properties.Settings>
            <setting name="Red" serializeAs="String">
                <value>237, 28, 41</value>
            </setting>
            <setting name="Blue" serializeAs="String">
                <value>23, 71, 158</value>
            </setting>
            <setting name="Yellow" serializeAs="String">
                <value>249, 157, 28</value>
            </setting>
            <setting name="Green" serializeAs="String">
                <value>36, 159, 69</value>
            </setting>
            <setting name="Black" serializeAs="String">
                <value>35, 31, 32</value>
            </setting>
            <setting name="White" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Gray" serializeAs="String">
                <value>167, 169, 172</value>
            </setting>
            <setting name="FontMain" serializeAs="String">
                <value>Tahoma, 12pt</value>
            </setting>
            <setting name="FontCaption" serializeAs="String">
                <value>Tahoma, 15.75pt, style=Bold</value>
            </setting>
            <setting name="FontSubcaption" serializeAs="String">
                <value>Tahoma, 12pt, style=Bold</value>
            </setting>
            <setting name="LightGray" serializeAs="String">
                <value>209, 211, 212</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=ПК-2-ПК\KELITESQL;Initial Catalog=ChampionshipWorldSkills;Integrated Security=True</value>
            </setting>
            <setting name="RememberedUserLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberedUserPassword" serializeAs="String">
                <value />
            </setting>
        </ChampionshipWorldSkills.Properties.Settings>
    </userSettings>
</configuration>